body {
  margin: 0;
  padding: 0;
}

/**
* Create a position for the map
* on the page */
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

/**
* Set rules for how the map overlays
* (information box and legend) will be displayed
* on the page. */

.open-sans-<uniquifier > {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  margin-right: 20px;
  font-family: .open-sans-<uniquifier>;
  overflow: auto;
  border-radius: 3px;
}

#features {
  top: 0;
  height: 150px;
  margin-top: 20px;
  width: 300px;
}

.mapboxgl-ctrl-geocoder {
  width: 280px !important;
}